.day1 {
  padding: 1%;
  min-height: fit-content;
  min-width: fit-content;
  border-radius: 0.5em;
  cursor: pointer;
}

.day1:hover {
  box-shadow: rgba(25, 40, 93, 0.15) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px inset;
}

.day2 {
  padding: 1%;
  min-height: fit-content;
  min-width: fit-content;
  border-radius: 0.5em;
  cursor: pointer;
}

.day2:hover {
  box-shadow: rgba(25, 40, 93, 0.15) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px inset;
}

.day3 {
  padding: 1%;
  min-height: fit-content;
  min-width: fit-content;
  border-radius: 0.5em;
  cursor: pointer;
}

.day3:hover {
  box-shadow: rgba(25, 40, 93, 0.15) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px inset;
}

.day4 {
  padding: 1%;
  min-height: fit-content;
  min-width: fit-content;
  border-radius: 0.5em;
  cursor: pointer;
}

.day4:hover {
  box-shadow: rgba(25, 40, 93, 0.15) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px inset;
}

.day5 {
  padding: 1%;
  min-height: fit-content;
  min-width: fit-content;
  border-radius: 0.5em;
  cursor: pointer;
}

.day5:hover {
  box-shadow: rgba(25, 40, 93, 0.15) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px inset;
}

.article-titles {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

article ul li {
  margin-top: 1%;
  list-style: none;
  margin-left: -10%;
}

.days-temp {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  float: right;
}

li img {
  margin-left: 5%;
}

.daysNight0 {
  background-image: url("../../public/gif/clearNight2.gif");
  background-size: cover;
}

.daysLight0 {
  background-image: url("../../public/gif/38.gif");
  background-size: cover;
  background-position: 15%;
}

.daysNight8 {
  background-image: url("../../public/gif/clearNight4.gif");
  background-repeat: space;
  background-size: cover;
  background-position: 40%;
}

.daysLight8 {
  background-image: url("../../public/gif/40.gif");
  background-position: 40%;
  background-repeat: space;
  background-size: cover;
}

/* .daysNight16 {
  background-image: url("../../public/gif/clearNight4.gif");
  background-repeat: space;
  background-size: cover;
  background-position: 69%;
} */

.daysNight16 {
  background-image: url("../../public/gif/clearNight3.gif");
  background-size: cover;
}

.daysLight16 {
  background-image: url("../../public/gif/40.gif");
  background-size: cover;
  background-position: 80%;
}

/* .daysLight16 {
  background-image: url("../../public/gif/Rain.gif");
  background-size: cover;
} */

.daysNight24 {
  background-image: url("../../public/gif/cloudsnightsky.gif");
  background-size: cover;
}

.daysLight24 {
  background-image: url("../../public/gif/38.gif");
  background-size: cover;
  background-position: 40%;
}

/* .daysLight24 {
    background-image: url("../../public/gif/37.gif");
    background-size: cover;
  } */

.daysNight32 {
  background-image: url("../../public/gif/Ash.gif");
  background-size: cover;
}

.daysLight32 {
  background-image: url("../../public/gif/38.gif");
  background-size: cover;
  background-position: 60%;
}

/* .daysLight32 {
    background-image: url("../../public/gif/33.gif");
    background-size: cover;
  } */
