.day1 {
  padding: 1%;
  min-height: fit-content;
  /* min-width: fit-content; */
  min-width: 215px;
  border-radius: 0.5em;
  cursor: pointer;
}

.day1:hover {
  box-shadow: rgba(25, 40, 93, 0.15) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px inset;
}

.day2 {
  padding: 1%;
  min-height: fit-content;
  /* min-width: fit-content; */
  min-width: 215px;
  border-radius: 0.5em;
  cursor: pointer;
}

.day2:hover {
  box-shadow: rgba(25, 40, 93, 0.15) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px inset;
}

.day3 {
  padding: 1%;
  min-height: fit-content;
  /* min-width: fit-content; */
  min-width: 215px;
  border-radius: 0.5em;
  cursor: pointer;
}

.day3:hover {
  box-shadow: rgba(25, 40, 93, 0.15) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px inset;
}

.day4 {
  padding: 1%;
  min-height: fit-content;
  /* min-width: fit-content; */
  min-width: 215px;
  border-radius: 0.5em;
  cursor: pointer;
}

.day4:hover {
  box-shadow: rgba(25, 40, 93, 0.15) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px inset;
}

.day5 {
  padding: 1%;
  min-height: fit-content;
  /* min-width: fit-content; */
  min-width: 215px;
  border-radius: 0.5em;
  cursor: pointer;
}

.day5:hover {
  box-shadow: rgba(25, 40, 93, 0.15) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px inset;
}

.article-titles {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    margin-top: 2%;
}

article ul li {
  margin-top: 1%;
  list-style: none;
  margin-left: -10%;
}

.days-temp {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  float: right;
}

li img {
  margin-left: 5%;
}

.daysNight0 {
  background-image: url("../../public/gif/clearNight2.gif");
  background-size: cover;
}

.daysLight0 {
  background-image: url("../../public/gif/38.gif");
  background-size: cover;
  background-position: 15%;
}

.daysNight8 {
  background-image: url("../../public/gif/clearNight4.gif");
  background-repeat: space;
  background-size: cover;
  background-position: 40%;
}

.daysLight8 {
  background-image: url("../../public/gif/40.gif");
  background-position: 40%;
  background-repeat: space;
  background-size: cover;
}

/* .daysNight16 {
  background-image: url("../../public/gif/clearNight4.gif");
  background-repeat: space;
  background-size: cover;
  background-position: 69%;
} */

.daysNight16 {
  background-image: url("../../public/gif/clearNight3.gif");
  background-size: cover;
}

.daysLight16 {
  background-image: url("../../public/gif/40.gif");
  background-size: cover;
  background-position: 80%;
}

/* .daysLight16 {
  background-image: url("../../public/gif/Rain.gif");
  background-size: cover;
} */

.daysNight24 {
  background-image: url("../../public/gif/cloudsnightsky.gif");
  background-size: cover;
}

.daysLight24 {
  background-image: url("../../public/gif/38.gif");
  background-size: cover;
  background-position: 40%;
}

/* .daysLight24 {
    background-image: url("../../public/gif/37.gif");
    background-size: cover;
  } */

.daysNight32 {
  background-image: url("../../public/gif/Ash.gif");
  background-size: cover;
}

.daysLight32 {
  background-image: url("../../public/gif/38.gif");
  background-size: cover;
  background-position: 60%;
}

/* .daysLight32 {
    background-image: url("../../public/gif/33.gif");
    background-size: cover;
  } */


  .weatherMapCardContent-E1_1 {
    /* border-radius: 1.5em; */
    /* justify-content: space-between; */
    position: relative;
    bottom: 50px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 12px;
    cursor: pointer;
}

.weatherMapCardContentDetail-E1_1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  max-width: 165px;
}

.weatherMapCardTitle-E1_1 {
  margin-bottom: -3px;
  display: inline-block;
  font-size: 20px;
  line-height: 28px;
  max-width: 100%;
  color: #ffffff;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
}

.weatherMapCardSubTitle-E1_1 {
  font-size: 12px;
  color: #ffffff;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.jumpIcon-E1_1 {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  min-width: 20px;
  min-height: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 100%;
}

.jumpIcon-E1_1:hover{
  border: 1px solid red;
  height: 25px;
  width: 25px;
}

.scroller {
  display: flex;
  min-height: 100px;
  height: 200px;
  width: fit-content;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: height .5s linear;
  max-width: 85%;
  /* padding-bottom: 20px; */
}


.scroller ul li{
  list-style: none;
  margin-right: 2%;
}

.btnScroolLeft{
  margin-top: 3%;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  display: flex;
  box-sizing: border-box;
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  float: right;
  display: flex;
  flex-direction: row;
  outline: none;
}

.btnScroolRight{
  margin-top: 3%;
  /* position: relative; */
  position: absolute;
  right: 26%;
  cursor: pointer;
  z-index: 100;
  display: flex;
  box-sizing: border-box;
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: row;
  outline: none;
}
