body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #3e4b64;
}

form {
  text-align: center;
}

.Search {
  height: 55px;
  margin-left: 15%;
  /* border-radius: 50px; */
  border-radius: 1.4em;
}

.form-input {
  /* border-color: transparent; */
  /* background-color: transparent; */
  border-radius: 0.4em;
  border-bottom-color: red;
  color: white;
}

header {
  height: 80px;
  border-bottom-color: red;
  background-color: orange;
}

.current-weather {
  border: 1px solid red;
  width: 52%;
  height: 265px;
  border-radius: 0.5em;
  padding: 15px;
  color: white;
  background-color: rgb(113, 146, 179);
}

.current-weather li {
  list-style-type: none;
  margin-top: 2%;
  margin-left: 12%;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.feel{
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.current-weather li span{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}


.footer-words {
  white-space: nowrap;
}

.CWD {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.main-temp{
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-temp-c{
  font-size: 30px;
  /* margin-left: 10px; */
}

.map-container{
height: 100%;
width: 100%;
}