body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #3e4b64;
}

form {
  text-align: center;
}

.Search {
  height: 55px;
  margin-left: 15%;
  /* border-radius: 50px; */
  border-radius: 1.4em;
}

.form-input {
  /* border-color: transparent; */
  /* background-color: transparent; */
  border-radius: 0.4em;
  border-bottom-color: red;
  color: white;
}

header {
  height: 80px;
  border-bottom-color: red;
  background-color: orange;
}

.current-weather {
  border: 1px solid red;
  width: 50%;
  height: 250px;
  border-radius: 0.5em;
  padding: 15px;
  color: white;
  background-color: rgb(113, 146, 179);

}

