body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #3e4b64;
}

form {
  text-align: center;
}

form {
  width: 35%;
}

.form-input {
  border-radius: 1.4em;
  color: white;
  font-size: 18px;
}

.form-input:hover {
  border-color: black;
  box-shadow: 20px 8px 50px #73e5e5, -10px -5px 50px #4c7fcc;
}

.searchLogoButton {
  border-radius: 1.4em;
  background-color: white;
}

header {
  height: 80px;
  background-color: #78d1f2;
  background-image: linear-gradient(45deg, #77c4e3 30%, #dfe160 90%);
}

.current-weather {
  border: 1px solid red;
  width: 52%;
  height: 265px;
  border-radius: 0.5em;
  padding: 15px;
  color: white;
  background-color: rgb(113, 146, 179);
}

.current-weather li {
  list-style-type: none;
  margin-top: 2%;
  margin-left: 12%;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.feel {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.current-weather li span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
}

.footer-words {
  white-space: nowrap;
}

.CWD {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.main-temp {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-temp-c {
  font-size: 30px;
  /* margin-left: 10px; */
}

.map-container {
  height: 100%;
  width: 100%;
}

.headerInfo {
  white-space: nowrap;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
  Helvetica, sans-serif;
}

/* .Clck {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    Helvetica, sans-serif;
} */

.headerInfo span {
  font-weight: 550;
}

.date-time-prop{
margin-left: 30px;
}